<div class="small component blue">
	{{+	"view" : "component",
      "collection" : "collectionName" }}
  <div id="me">
      {{+
        "backgroundColor" : "bgcolor"
      }}
      TEXTTEXTTEXTy
  </div>
</div>
