
<div class="full container" style="background-color :#282c34; color:#fff;  font-weight : 300">
  {{+ "view" : "main", "model": "goodMorningModel", "nn": "1" }}
  <div class="morningText1">{{+ "innerHTML": "gm", "nn": "1.1" }}</div>
  <div id="gdday">{{+ "nn": "1.2" }}
    {{ "component" }}
    <div id="gnight">
      {{+
        "nn":"1.2.1",
        "model" : "goodNightModel",
        "color" : "color"
      }}
      good night {{+ "nodeValue": "goodnightMessage" }}
      clever Binding{{+ "nodeValue": "goodnightMessage" }}
      <img src="image.jpg" />{{+ "nn": "1.2.1.1", "src" : "goodnightMessage" }}
      <div class="rescopeer">
        {{+ "nn": "1.2.1.2", "view" : "rescope", "model": "goodMorningModel"}}
        <div class="morningText2">{{+ "nn": "1.2.1.2.1", "innerHTML": "gm" }}</div>
      </div>
    </div>
    <div id="notext">
      {{+ "nn":"1.2.2" }}
      <header>
        {{+ "nn":"1.2.2.1" }}
        <div class="top">
          {{+ "nn":"1.2.2.1.1" }}
          <div class="topinner">
            <div class="">
              {{ "plaintext" }}
            </div>

          </div>
        </div>
        <div class="booty">
          {{+ "nn":"1.2.2.1.2" }}
        </div>
      </header>
    </div>
  </div>
  {{ "component" }}
  good Morn to ye
  {{+
    "model" : "goodMorningModel",
    "nodeValue" : "goodnightMessage"
  }}
  good Night Again
  {{+
    "model" : "goodNightModel",
    "bindings":[["nodeValue","goodnightMessage"]]
  }}

</div>
