<div>
  {{+ "view":"example" }}
  <div class="collectionElement">
    {{+
      "view" : "exampleCollection",
      "collection" : "exampleCollection"
    }}
    <div class="colourTracker">
      {{+
        "backgroundColor" : "bgcolor"
      }}
    </div>
  </div>
</div>
